// component css goes here
.back-ground {
    background-color: black;
    color: white;
    height: 48px;
    width: 48px;
    border: 1px white solid;
}

.obstacle {
    background-color: gray !important
}

.path {
    background-color: rosybrown !important;
}

.destination {
    background-color: red !important;
    
}